@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,424;1,424&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* --------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------------- */

/* BODY */

body {
    font-family: "Montserrat", sans-serif;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

body.fade-down {
    opacity: 1;
    transform: translateY(0);
}

/* --------------------------------------- */

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 2000;
}

/* --------------------------------------- */

/*  NAV */

.nav-bar-flex {
    padding: 3px 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    transition: background-color 0.6s ease-in-out;
}

.menu {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.menu>span {
    padding-left: 10px;
}


.logo {
    display: flex;
    justify-content: center;
    flex: 1;
}

.logo>a>img {
    width: 230px;
}

.iconos {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 15px;
}

.iconos:nth-child(3) {
    padding-right: 10px;
}

.material-symbols-outlined {
    color: white;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

/* JS */

.nav-bar {
    background-color: #FFFFFF;
    box-shadow: 0px 7px 19px -4px rgba(0, 0, 0, 0.7);
}

.nav-bar>.logo>a>img {
    width: 150px;
}

/* --------------------------------------- */

/* WALLPAPER */

.wallpaper-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.wallpaper {
    background-image: url("../assets/img/locademia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* --------------------------------------- */

/* MAIN - TOP 10 */

main {
    margin-top: 700px;
}

.top-10 {
    padding-top: 30px;
    text-align: center;
}

.top-10 h2 {
    margin-bottom: 25px;
    font-size: 2em;
    color: #214970;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.swiper-wrapper {
    padding: 30px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 16px 19px -11px rgba(0, 0, 0, 0.3);
    height: 500px;
    transition: transform .2s ease-in-out;
    padding: 7px;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.swiper-slide h3 {
    font-size: 0.95rem;
    font-weight: normal;
    color: #333;
    margin: 10px 0 5px;
    text-align: center;
    padding: 0 5px;
}

.swiper-slide span {
    font-weight: 600;
    color: #0088cc;
    font-size: 0.9rem;
}

.swiper-slide .agregar button {
    border-radius: 15px;
    border: none;
    padding: 8px;
    width: 100px;
    background-color: #0088cc;
    color: #FFFFFF;
}

.swiper-slide .agregar button:hover {
    background-color: #015179;
    cursor: pointer;
}

.swiper-slide:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
    color: #333;
    transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #0088cc;
}

/* MAIN - UNA PASION QUE VIAJA */

.pasion-que-viaja {
    padding-top: 30px;
}

.pasion-que-viaja h2 {
    margin-bottom: 25px;
    font-size: 2em;
    color: #214970;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-align: center;
}

/* --------------------------------------- */

/* FOOTER */

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px 0 10px 0;
    background-color: #f3f3f3;
}

footer>h3 {
    padding-top: 30px;
    font-size: 15px;
    color: #214970;
}

footer>p {
    font-size: 14px;
    color: #214970;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}

form>input {
    padding: 7px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #f3f3f3;
    width: 300px;
}

form>input:focus {
    outline: none;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container>button {
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: #0088cc;
    color: #FFFFFF;
    margin-top: 10px;
}

.btn-container>button:hover {
    cursor: pointer;
    background-color: #015179;
}

footer p,
footer .redes-contacto {
    padding: 15px;
}

.redes-contacto>h3 {
    padding-top: 25px;
    font-size: 15px;
    color: #214970;
    text-transform: uppercase;
}

.redes-contacto a {
    text-decoration: none;
}

.redes-contacto a:nth-child(2) {
    margin: 0 10px;
}

.footer-iconos{
    margin-top: 20px;
}