@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,424;1,424&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* --------------------------------------- */

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------------- */

/* HTML */

html {
    scroll-behavior: smooth;
}

/* --------------------------------------- */

/* BODY */

body {
    font-family: "Montserrat", sans-serif;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

body.fade-down {
    opacity: 1;
    transform: translateY(0);
}

/* --------------------------------------- */

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 2000;
}

/* --------------------------------------- */

/*  NAV */

.nav-bar-flex {
    padding: 3px 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s ease-in-out;
}

.menu {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.menu>span {
    padding-left: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 5px;
}

.logo>a>img {
    width: 230px;
}

.iconos {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.iconos span.material-symbols-outlined:not(#carrito) {
    margin-right: 15px;
}

.iconos #carrito {
    padding-right: 3px;
}

.iconos:last-child {
    margin-right: 15px;
}

.material-symbols-outlined {
    color: white;
}

.cant-productos {
    color: #FFFFFF;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

/* JS - MODAL */

.nav-bar {
    padding: 3px 0;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 19px -4px rgba(0, 0, 0, 0.7);
}

.nav-bar>.logo>a>img {
    width: 150px;
}

.modal {
    position: absolute;
    top: 76px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    gap: 30px;
}

.modal>a {
    text-decoration: none;
    color: #f3f3f3;
    margin-left: 45px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.modal>a:hover {
    color: #0088cc;
}

.modal>a:first-child {
    padding-top: 25px;
    width: 70px;
}

.modal>a:nth-child(2) {
    width: 240px;
}

.modal>a:nth-child(3) {
    width: 92px;
}

.modal>a:last-child {
    padding-bottom: 25px;
    width: 120px;
}

.modalWhite {
    position: absolute;
    top: 55px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: #FFFFFF;
    gap: 30px;
}

.modalWhite>a {
    text-decoration: none;
    color: #000000;
    margin-left: 45px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.modalWhite>a:hover {
    color: #0088cc;
}

.modalWhite>a:first-child {
    padding-top: 25px;
    width: 70px;
}

.modalWhite>a:nth-child(2) {
    width: 240px;
}

.modalWhite>a:nth-child(3) {
    width: 92px;
}

.modalWhite>a:last-child {
    padding-bottom: 25px;
    width: 120px;
}

/* JS - BUSQUEDA */

.input-busqueda {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.input-busqueda:focus {
    outline: none;
}

/* JS - CARRITO */

.carrito-container {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    top: 76px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3000;
    min-width: 450px;
    max-width: 500px;
    gap: 3px;
    overflow: auto;
}

.img-container img {
    width: 60px;
    padding: 3px 0 0 3px;
}

.item {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.descripcion-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column wrap;
    gap: 5px;
}

.descripcion-container>.h3-producto {
    color: #FFFFFF;
    width: 250px;
    padding-top: 3px;
    font-size: 16px;
}

.descripcion-container>.span-producto {
    color: #FFFFFF;
}

.total-container {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.total-container>p {
    color: #FFFFFF;
}

.total-container>button {
    border-radius: 15px;
    border: none;
    padding: 8px;
    background-color: #0088cc;
    color: #FFFFFF;
}

.total-container>button:hover {
    background-color: #015179;
    cursor: pointer;
}

.contador {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contador>button {
    background-color: #0088cc;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.contador>button:hover {
    background-color: #015179;
}

.contador>.cantidad {
    color: #FFFFFF;
}

/* --------------------------------------- */

/* MAIN - WALLPAPER */

.wallpaper-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.wallpaper {
    background-image: url("../assets/img/locademia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* MAIN - TOP 10 */

main {
    margin-top: 640px;
}

.top-10 {
    padding-top: 90px;
    text-align: center;
}

.top-10 h2 {
    margin-bottom: 25px;
    font-size: 2em;
    color: #214970;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.swiper-wrapper {
    padding: 30px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 16px 19px -11px rgba(0, 0, 0, 0.3);
    height: 500px;
    transition: transform .3s ease-in-out;
    padding: 7px;
}

.swiper-slide>.img {
    width: 100%;
    object-fit: cover;
}

.h3-title {
    font-size: 0.95rem;
    font-weight: normal;
    color: #333;
    margin: 10px 0 5px;
    text-align: center;
    padding: 0 5px;
}

.span-container .span {
    font-weight: 600;
    color: #0088cc;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.btn-agregar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-agregar-container .btn {
    border-radius: 15px;
    border: none;
    padding: 8px;
    width: 100px;
    background-color: #0088cc;
    color: #FFFFFF;
}

.btn-agregar-container button:hover {
    background-color: #015179;
    cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
    color: #333;
    transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #0088cc;
}

/* MAIN - UNA PASION QUE VIAJA */

.pasion-que-viaja {
    padding-top: 90px;
}

.pasion-que-viaja h2 {
    margin-bottom: 25px;
    font-size: 2em;
    color: #214970;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-align: center;
}

/* MAIN - OFERTAS */

.ofertas {
    padding-top: 90px;
    text-align: center;
}

.ofertas h2 {
    margin-bottom: 25px;
    font-size: 2em;
    color: #214970;
    font-weight: bold;
    letter-spacing: 0.3px;
}

/* JS - BUSQUEDA DE PRODUCTOS */

.busqueda-container>h1 {
    text-align: center;
    text-transform: uppercase;
    color: #015179;
    padding: 25px;
}

h1>strong {
    color: #000000;
    font-weight: 600;
}

.productos-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 50px;
}

.productos-json {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 5px 16px 19px -11px rgba(0, 0, 0, 0.3);
}

.productos-json>img {
    transition: transform .4s cubic-bezier(0.03, 0.16, 0.95, 1.02) .1s;
}

.productos-json:hover img {
    cursor: pointer;
    transform: scale(1.4);
}

.productos-container>p {
    font-size: 25px;
    letter-spacing: 1px;
    padding: 10px;
}

.rta-json {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 27px;
}

.ir-al-inicio {
    text-align: center;
    padding: 5px;
    margin-top: 100px;
}

.ir-al-inicio>a {
    font-size: 20px;
    color: #214970;
    text-decoration: none;
}

.ir-al-inicio>a:hover {
    color: #015179;
    font-weight: bold;
}

/* JS - ITEMS CONTAINER */

.items-container {
    text-align: center;
}

.items-container>h2 {
    text-transform: uppercase;
    color: #015179;
    padding: 25px;
}

.items-empty {
    font-size: 60px;
    padding-top: 30px;
}

.items-empty:hover {
    cursor: auto;
}

/* JS - ITEM DETAIL */

.item-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 70px;
}

.item-modal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.title-modal {
    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.title-container-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-container-modal>h2 {
    color: #0088cc;
    font-size: 30px;
    width: 500px;
}

.title-container-modal>h4 {
    color: #333;
    font-weight: 500;
    font-size: 20px;
}

.talles-modal {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    list-style: none;
}

.talles-modal>li {
    border: 1px solid #000000;
    text-align: center;
    padding: 7px;
    width: 35px;
}

.talles-modal>li:hover {
    cursor: pointer;
}

.modal-footer {
    display: flex;
    flex-direction: column;
}

.btn-modal {
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 200px;
    background-color: #0088cc;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn-modal:hover {
    cursor: pointer;
    background-color: #015179;
}

/* --------------------------------------- */

/* FOOTER */

footer {
    text-align: center;
    margin-top: 90px;
    padding: 15px 0 10px 0;
    background-color: #f3f3f3;
}

footer>h3 {
    padding-top: 30px;
    font-size: 15px;
    color: #214970;
}

footer>p {
    font-size: 14px;
    color: #214970;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}

form>input {
    padding: 7px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #f3f3f3;
    width: 300px;
}

form>input:focus {
    outline: none;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container>button {
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: #0088cc;
    color: #FFFFFF;
    margin-top: 10px;
}

.btn-container>button:hover {
    cursor: pointer;
    background-color: #015179;
}

footer p,
footer .redes-contacto {
    padding: 15px;
}

.redes-contacto>h3 {
    padding-top: 25px;
    font-size: 13px;
    color: #214970;
    text-transform: uppercase;
}

.redes-contacto a {
    text-decoration: none;
}

.redes-contacto a:nth-child(2) {
    margin: 0 10px;
}

.footer-iconos {
    margin-top: 20px;
}

/* --------------------------------------- */

.disable {
    display: none;
}